#contenant {
	width:1200px;
	height:760px;
	background-color: lightgreen;
}

* {
	font-family : Tahoma;
}

.entete {
	width:100%;
	height:100px;
	background-color: #37BBD4;
}

.entete img {
	float: left;
	margin-top: 13.5px;
	margin-left:15px;
}

h3 {
	float: left;
	color: white;
	margin-top: 38.5px;
	margin-left: 10px;
}

h4 {
	float: right;
	color: white;
	margin-top: 40.5px;
	margin-right: 10px;
}

#left_col {
	width:400px;
	height:660px ;
	background-color: orange;
	float: left;
}

.left_col_haut {
	width: 400px;
	height: 440px;
	background-color: #F5F5F5;
	float: left;
	margin-top: px;
}

#left_col_bas {

	width: 400px;
	height: 220px;
	/*background-color: lightblue;*/
	float: left;
	
}

.left_col_bas_gauche {
	width: 200px;
	height: 220px;
	background-color: #fa8a7e;
	margin-top: px;
	float: left;
}	

.left_col_bas_droit {
	width:200px;
	height:220px;
	background-color: #B483FF;
	float: left;
	margin-top: px;
	}